.new-car-form {
width: 450px;
}

.sign-up-container {
  width: 450px;
  color: white;
}

.password-container {
  width: 450px;
  color: white;
}

.text-light {
  padding-top: 20px;
  padding-bottom: 20px;
}

.devise-buttons {
  color:white;
}

#new-review-forms {
  width: 600px;
}

#login-form {
  width: 450px;
}
