.confirmation-container {
  border-radius: 18px;
  background: #1d1d1d;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  color: white;
}
.summary2 {
  margin-left: 30px;
}
.sub-summary {
  margin-top: 10px;
}
