.show-container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
// .card-remove-link {
//   opacity: 0;
// }

// .hover {
//   opacity: 1;
// }
// .delete-icon {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   width: 15px;
//   cursor: pointer;
// }

.show-card {
  display: grid;
  width: 300px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: #1d1d1d;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  color:white;
  text-align: justify;
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
  box-sizing: content-box;
  border: none !important;
}
.show-card-text {
  grid-area: text;
}
.show-card-stats {
  grid-area: stats;
}
.show-card-image {
  grid-area: image !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.show-card-text {
  grid-area: text;
  margin: 25px;
}
.show-card-text .show-date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.show-card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.show-card-text h2 {
  margin-top:0px;
  font-size:28px;
}


// .show-card:hover {
//   transform: scale(1.15);
//   box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
// }

a {
  text-decoration: none
}

.reviews {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  border-top: solid 1px white;
}

.reviews-comment {
  color: grey;
  font-size:15px;
  font-weight: 300;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.delete a{
  padding-left: 20px;
  text-decoration: none !important;
  color:#E11E7A !important;

}


.card-product {
  min-height: 270px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background: #1d1d1d;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  color:white;
  text-align: justify;
  margin:30px;
  box-sizing: content-box;
  position: relative
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.price {
  position: absolute;
  top: 11px;
  right: 19px;
  border: 1px solid;
  border-radius: 25px;
  padding: 6px;
  color: gold;
}
.card-product-infos {
  margin: 25px 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-product img {
  height: 100%;
  width: 350px;
  // object-fit: cover !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-size: cover;
  background-position: center;
}

.card-product h2 {
  margin-top:0px;
  font-size:28px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  color: rgb(158, 155, 155);
  font-size:15px;
  font-weight: 300;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
