<div class="banner-image">
  <div class="banner-content">
    <h1>Swag-On</h1>
    <p>A vehicule for every occasion</p>
    <a><%= link_to 'Explore ;)', cars_path, class: "btn-bgstroke" %></a>
  </div>
</div>
