
.banner-image {
  background: #040404;
  background-image: url("https://i.pinimg.com/originals/65/3a/c7/653ac7f4ecfe013c6efb2017a5807724.gif");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}
.banner-content {
  font-family: "lato";
  width: 100%;
  text-align: center;
  color: white;
}
.banner-content h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}
.banner-content p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}
.btn-bgstroke {
    font-size: 20px;
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 30px;
    color: black;
    text-decoration: none;
    background-color: #e8217e;
}
.btn-bgstroke:hover {
    background-color: rgb(0, 0, 0);
    color: #e8217e;
    text-decoration: none;
    transition: 1s;
}
