// .cards-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   padding-top: 20px;
// }

// .card-container {
//   margin: 0.5rem 0 1rem 0;
//   background-color: #fff;
//   border-radius: 2px;
//   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.89);
//   position: relative;
// }

// .car-owner-info {
//   display: flex;
// }

// .car-image {
//   object-fit: cover;
//   background-position: center;
//   background-size: cover;
//   height: 180px;
// }

// .car-name {
//   padding-top: 10px;
//   font-size: 25px;
//   font-weight: bold;
// }

// .card-car-infos {
//   padding: 20px;
// }

// .car-info H6 {
//   font-size: 20px;
// }

// .container {
//   padding-top: 20px
// }
.container-card {
  display: flex;
  flex-wrap: wrap;
  box-sizing: none !important;
}
.card-remove-link {
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  opacity: 0;
  transform: rotate(45deg);
  font-weight: lighter;
  text-decoration: none;
}

.hover {
  color: white;
  opacity: 1;
}


.card {
  display: grid;
  width: 300px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: #1d1d1d;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  color:white;
  text-align: justify;
}
.card-image {
  grid-area: image !important;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}
.card-image {
  grid-area: image !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:10px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}

*, *::before, *::after {
  box-sizing: none !important;
}
