
@media (min-width: 768px) {
  .col-md-6 {
  padding-top: 30px;
  }
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
 }

 .footer {
  bottom: 0;
  width: 100%;
  padding: 10px;
 }

 .mb-4 {
  margin-bottom: 0;
 }
