.navbar-swagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
  color: black;
}

.navbar-swagon .navbar-collapse {
  // flex-grow: 0;
  color: black;
}

.navbar-swagon .navbar-brand img {
  width: 100px;
}

.nav-item {
  color: #FFFFFA
}

.topnav {
 border-radius: 10%;
 border-color: #FF312E;
}

.search-box {
  border: 10%;
  border-color: #FF312E;
}

.nav-item {
  border-radius: 0%;
}


.dashboard:hover {
  color: #FF312E;
  transition-duration: 0.5s;
  text-decoration: underline;
  padding: 0 0 60px;
}

.login {
  color: #FFFFFA;

  text-decoration: none;
  top: 30px;
  right: 100px;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  padding: 1px;
  size: 2000%;
  float: right;
}
 .login:hover {
  color: #FF312E;
  transition-duration: 0.5s;
  text-decoration: underline;
  padding: 0 0 60px;
 }

 @media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
