.navbar-swagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
  color: black;
}

.navbar-swagon .navbar-collapse {
  // flex-grow: 0;
  color: rgb(0, 0, 0);
}

.navbar-swagon .navbar-brand img {
  width: 100px;
}

.nav-item {
  color: #FFFFFA
}

.topnav {
 border-radius: 10%;
 border-color: #E8217E;
}

.avatar:hover {
  border-color: white;
  cursor: pointer;
  display: block;
}

.dropdown-menu {
  background-color: black;
  border-color: #E8217E;
}

.dropdown-item {
  background-color: black;
  color:#E8217E;
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
}

.dropdown-item:hover {
  transition-duration: 1s;
  background-color: #FFFFFA;
}

.search-box {
  border: 10%;
  border-color: black;
}

.nav-item {
  border-radius: 0%;
}


.login {
  color: #FFFFFA;
  font-size: 26px;
  text-decoration: none;
  top: 30px;
  right: 30px;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  padding: 1px;
  float: right;
}
 .login:hover {
  color: #E8217E;
  transition-duration: 1s;
  text-decoration: underline;
  padding: 0 0 80px;
 }

 @media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
