.container-search-btn {
  margin-top: 40px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
}

.btn-AddVehicule {
  padding: 10px
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  padding: 10px;
}

.search-icon {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 15px;
}

.clear-icon {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 10px;
  cursor: pointer;
  visibility: hidden;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 110%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search:hover, .search:focus {
  border: 1.5px solid #009688;
  background-color: white;
}
