<H1>INDEX</H1>

<div class="cards-container">

  <% @cars.each do |car| %>
    <%= render 'shared/car_card',  car: car %>
  <% end %>

</div>

<%= link_to 'New vehicule', new_car_path, class: "btn btn-primary" %>
