<div class="container">
  <div class="cards-container">

    <% @cars.each do |car| %>
      <%= render 'shared/car_card',  car: car %>
    <% end %>

  </div>
</div>

<%= link_to 'New vehicle', new_car_path, class: "btn btn-primary" %>
